In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/abhiyagupta/DV_python_data/main/Corona_Updated.csv")
df.head(5)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Temprature,Humidity
0,Hubei,Mainland China,2020-03-10T15:13:05,67760,3024,47743,30.9756,112.2707,12.5,86
1,NaN,Italy,2020-03-10T17:53:02,10149,631,724,43.0000,12.0000,12.9,64
2,NaN,Iran (Islamic Republic of),2020-03-10T19:13:20,8042,291,2731,32.0000,53.0000,11.9,9
3,NaN,Republic of Korea,2020-03-10T19:13:20,7513,54,247,36.0000,128.0000,4.9,41
4,NaN,France,2020-03-10T18:53:02,1784,33,12,47.0000,2.0000,11.9,93

In [ ]:
#divinding temp into two categories, low and high. 
#less than 24 low
#more than 24 high
#<24 cold, null hypothesis. Value assignes is 0 flagg
#>24 warm, value assigned is 1 flagg

In [4]:
df['Temp_flagged'] = df['Temprature'].apply(lambda x : 0 if x < 24 else 1)

In [ ]:
df

In [ ]:
#new data set where we have only those two varibales which we r compairng
#aim: to see if increase in temp or warm climate will make any difference to confirmed cases to corona
#H null: temperature does not affect corona
#H 1 : warm temp affects corona outbreak.

In [5]:
df_V1 = df[['Confirmed', 'Temp_flagged']]
df_V1.head(3)

   Confirmed  Temp_flagged
0      67760             0
1      10149             0
2       8042             0

In [21]:
def TwoSampZ(X1, X2, sigma1, sigma2, N1, N2):
    from numpy import sqrt, abs, round
    from scipy.stats import norm
    ovr_sigma = sqrt(sigma1**2/N1 + sigma2**2/N2)
    z = (X1 - X2)/ovr_sigma
    pval = 2*(1 - norm.cdf(abs(z)))
    return z, pval

In [6]:
d1 = df_V1[(df_V1['Temp_flagged']==1)]['Confirmed']
d2 = df_V1[(df_V1['Temp_flagged']==0)]['Confirmed']

In [ ]:
#d1 is sunset of confrimed cases where temperature flagg = 1 
#d2 subset temp less tahn 24 cold null hypothesis
d2

In [ ]:
d1

In [13]:
m1=d1.mean()
m1

26.548387096774192

In [15]:
m2=d2.mean()
m2

672.9085714285715

In [17]:
m1, m2 = d1.mean(), d2.mean()
sd1, sd2 = d1.std(), d2.std()
n1, n2 = d1.shape[0], d2.shape[0]

In [18]:
m1,m2

(26.548387096774192, 672.9085714285715)

In [19]:
sd1,sd2

(45.93969867095881, 5228.628797929271)

In [20]:

n1,n2

(31, 175)

In [ ]:
#def TwoSampZ(X1, X2, sigma1, sigma2, N1, N2):

In [22]:
z, p = TwoSampZ(m1, m2, sd1, sd2, n1, n2)

In [23]:
z_score = np.round(z,8)
p_val = np.round(p,6)

In [25]:
z_score, p_val

(-1.63497531, 0.102054)

In [26]:
if (p_val<0.05):
    Hypothesis_Status = 'Reject Null Hypothesis : Accept altenate hypothesis that means temparature change is Significant'
else:
    Hypothesis_Status = 'Do not reject Null Hypothesis : That means temp change is Not Significant'

In [27]:
print (p_val)
print (Hypothesis_Status)

0.102054
Do not reject Null Hypothesis : That means temp change is Not Significant